body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
}

#controls-container {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

#simulation-controls, #distribution-controls {
  background: #333;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
}

label {
  margin: 0 10px;
}

canvas {
  border: 1px solid #555;
  margin-bottom: 20px;
}
